<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>欢迎来到花生二手车！</title>
    <link rel="stylesheet" href="css/index.css">
    <style>
        /* div{
            position: absolute;
            left: 0
        }
     */
#www{
    border: orangered 2px solid;
    left: 0px;
    height:250px;
    width: 1450px;
    background: rgb(207, 168, 94);
    font-size: 30px;

}
#uuu{
    border: orangered 2px solid;
    left: 0;
    height:250px;
    width: 1500px;
    background: rgb(207, 168, 94)}
.eee{
    border: orange 2px dashed;
    
}
    </style>
    <script src="jquery-1.7.2.js"></script>
    <script>
    $(function(){
        $('abc').click(function(){
            $(this).parent().hide()
            ;
        })
    
   
    })
</script>
<script>
    $(function(){
        $('abcd').click(function(){
        $(this).parent().hide();
    })
})
</script>
<script>
 window.onload=function(){
 var cs=document.getElementById('cs')
 var leftnew=0
 var speed=5
 setInterval(f,50)
 function f(){
     leftnew+=speed
     if(leftnew>50){
         speed=-5;
         return
     }
     if (leftnew<0){
         speed=5;
         return
     }
    cs.style.left=leftnew+'px'
 }
 

 }
</script>

   
</head>

<body>
    <div class="qqq">
    <div class="sitenavwarp" >
        <div class="sitenav">
         <p class="left"><b><欢迎来到花生二手车></b></p> 
         <ul class="right">
             <a href="#"><li>欢迎你：某某</li></a>
             <li class="line">|</li>
             <a href="#"><li>我的购物车</li></a>
             <li class="line">|</li>
             <a href="#"><li>我的订单</li></a>
            
         </ul>
         
        </div>

    </div>
    
<!-- <span>      -->
        <form action="" method="get">
    <div class="header">
        <h1><a href="www.porn.com"><img src="logo.jpeg"></a></h1>
        <!-- 请输入你要查找的车辆 -->
        <!-- <form action="" method="get"> -->
            <div class="box1"><input type="text" style="height: 30px ;color:darkgreen" placeholder= "请输入您心仪的车辆"><div class="right1"><a href="www.porn.com">搜索</a></div></div>
        
         <div class="tel" >客服电话：400-888-8888</div>
         </div>
        </form>
        <div class="box2">

                <form action="" method="get" >
                        
                        <marquee behavior="" direction="left"><div style="color: rgb(245, 12, 51);font-size:40px">特大喜讯，花生二手车网盛大成立，各种福利优惠等着你</div></marquee><br><br>
                        <div style="font-size:30px">
                                    不买车，难道你要让你女朋友做隔壁老王的顺风车吗！！！！！！
                        </div><br><br>
                            <!-- <a> -->
                            <!-- <divv>
                                    <div style="font-size:30px">请选择您所在地区：</div>
                            
                            <select style="font-size: 16px">
                                <option>北京</option>
                     <br><br>           <option>上海</option>
                                <option>杭州</option>
                            </select></divv> -->
                            <divv>
                                    <div style="font-size:23px">品牌：
                            <a href="#" class="eee">BMW</a>
                            <a href="#" class="eee">mercedes-benz</a>
                            <a href="#" class="eee">VW</a>
                            <a href="#" class="eee">VOLVO</a>
                            <a href="#" class="eee">DODGE</a>
                            <a href="#" class="eee">LAND-ROVER</a>
                            <a href="#" class="eee">LAMORGHINI</a>
                            <a href="#" class="eee">其他品牌</a>
                            <br><br>
                           
                        <!-- </a> -->
                        请选择你想要选择的车辆价格范围：
                        <a href="#"class="eee">3-5w</a>
                        <a href="#"class="eee">5-10w</a>
                        <a href="#"class="eee">10-15w</a>
                        <a href="#"class="eee">15-20w</a>
                        <a href="#"class="eee">20-30w</a>
                        <a href="#"class="eee">40-60w</a>
                        <a href="#"class="eee">70w及以上</a><br><br>
                        更多要求:
                        <select>
                                <option selected>排量</option>
                                <option>不限</option>
                                <option>1.0-2.0L</option>
                                <option>2.0-2.5L</option>
                                <option>2.5-3.0L</option>
                                <option>3.0-4.0L</option>
                                <option>4.0L及以上</option>
                            </select> 
                        <select>
                                    <option selected>车龄</option>
                                    <option>准新车</option>
                                    <option>3年以内</option>
                                    <option>3-5年</option>
                                    <option>5-7年</option>
                                    <option>7-10年</option>
                                    <option>10-20年</option>
                                </select>
                         <select>
                                        <option selected>历程</option>
                                        <option>1万公里以内</option>
                                        <option>1-3万公里</option>
                                        <option>3-5万公里</option>
                                        <option>5-7万公里</option>
                                        <option>7-10万公里</option>
                                        <option>10-20万公里</option>
                         </select>
                         <select>
                                <option selected>车型</option>
                                <option>跑车</option>
                                <option>两厢轿车</option>
                                <option>suv</option>
                                <option>皮卡</option>
                                <option>旅行轿车</option>
                                <option>三厢轿车</option>
                         </div></select> <br><br>
                         <span id="cs"><div id="www" style="color:red"><i>宝马各类车型限时特卖</i><br>
                <a href="#"><img src="1.jpeg"></a><a href="#"><img src="2.jpeg"></a><a href="#"><img src="3.jpeg"></a><a href="#"><img src="4.jpeg"></a><a href="#"><img src="1.jpeg"></a></div></span><br>
                <!-- <b id="cs"><div id="uuu" style="color:red">各类名贵车型限时特卖<br><br>
                    <a href="#"><img src="lsls1.jpeg"></a><a href="#"><img src="lsls1.jpeg"></a><a href="#"><img src="lsls1.jpeg"></a><a href="#"><img src="lsls1.jpeg"></a></div><br><br></b> -->
                <!-- 原价：40万<br><br>
                现价：30万<br><br> -->
                <!-- 咨询电话：400-888-8888（周一至周日 8:00-21:00） -->
        <!-- </div> -->
        <div class="box33">
                <b>劳斯莱斯贱卖&nbsp;<s>原价：688万</s>，<i style="color:red">现价288万！</i></b><br>
                <a href="#"><img src="lsls1.jpeg"></a><a href="#"><img src="lsls1.jpeg"></a><a href="#"><img src="lsls1.jpeg"></a><a href="#"><img src="lsls1.jpeg"></a>
        </div>

        <div id='texiao'>
            <img src="zazahui.jpg" alt=""><abc style="font-size: 30px;color:red">X</abc>
        </div>
        <!-- <div id="guanggao">
            <img src="timg.jpeg" alt=""><abcd style="font-size: 30px ;color:red">X</abcd>

        </div> -->
    
<!-- </span> -->
    </div>
</body>
</html>