<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<title>欢迎来到花生二手车</title>
	</head>
	<link rel="stylesheet" href="css/index.css">
	<script src="../day6/jquery-1.7.2.js"></script>
	<script src='js/index.js'>
	</script>

	<body>
		<div id="ad">
			<div id="colse" style="cursor:pointer ">
				X
			</div>
		</div>
		<div class="side">
			<ul>
				<li>填充内容</li>
				<li>填充内容</li>
				<li>填充内容</li>
				<li>填充内容</li>
			</ul>
		</div>
		<div class="setNavWrap">
			<div class="setNav">
				<p class="left">欢迎来到花生二手车，</p><a href="#">登录</a>
				<ul class="right">
					<li>
						<a href="#">我要买车</a>
						<ul>
							<li>填充1</li>
							<li>填充2</li>
							<li>填充2</li>
							<li>填充2</li>
						</ul>
					</li>
					<li>
						<a href="#">我要买车</a>
						<ul>
							<li>填充1</li>
							<li>填充2</li>
							<li>填充2</li>
							<li>填充2</li>
						</ul>
					</li>
					<li>
						<a href="#">我要买车</a>
						<ul>
							<li>填充1</li>
							<li>填充2</li>
							<li>填充2</li>
							<li>填充2</li>
						</ul>
					</li>
					<li>
						<a href="#">我要买车</a>
						<ul>
							<li>填充1</li>
							<li>填充2</li>
							<li>填充2</li>
							<li>填充2</li>
						</ul>
					</li>
					<li>
						<a href="#">我要买车</a>
						<ul>
							<li>填充1</li>
							<li>填充2</li>
							<li>填充2</li>
							<li>填充2</li>
						</ul>
					</li>
				</ul>

			</div>
		</div>
		<div class="header">
			<h1><a href="#"><img  src="image/logo.png"></a></h1>



			<div class="serch">
                <form method="get" action="/search">

                    <input id="serch" class="serch" placeholder="查找爱车">
                    <input type="submit" value="搜索">
{#				    <button class="serch"><a class="serch" href="#"></a></button>#}

                </form>

			</div>




			<div class="serch_list" >填充内容</div>
			
		</div>
		<div id="main" align="bottom">

			<div id="p0"><img src="image/1.jpg" />
			</div>
			<div id="p1"><img src="image/2.jpg" />
			</div>
			<div id="p2"><img src="image/3.jpg" />
			</div>
			<div id="p3"><img src="image/4.jpg" />
			</div>
			<ul class="ccb">
				<li id='c0' class="cb"></li>
				<li id='c1' class="cb"></li>
				<li id='c2' class="cb"></li>
				<li id='c3' class="cb"></li>
			</ul>
			<button id="but1"><div></div></button>
			<button id="but2"><div></div></button>
		</div>
		<div class="main2">
			<div class="label">保值神车<span class="label">限时出售 |性价比高</span></div>
			<table align="center" cellspacing="20px">
				<Tr>
					<td rowspan="2" style="background-image: url(image/image1.png);background-size:cover"></td>
					<td rowspan="2" style="background-image: url(image/image2.png);background-size:cover"></td>
					<td style="width: 400px">
						<div style="float:left;width:66%;height:75%;background-image:url(image/car1.png);background-size:cover;"></div>
						<div class="info">
							<p>入门首选<br>
								<font color="red">5-7万品质二手车</font>
							</p>
						</div>
					</td>
					<td rowspan="2" style="background-image: url(image/image3.png);background-size:cover"></td>
				</Tr>
				<Tr>
					<td style="width: 400px;" </td>
				</Tr>
			</table>
			<div class="label">保卖车<span class="label">限时出售 |性价比高</span></div>
			<table align="center" cellspacing="20px">
				<Tr>
					<td rowspan="2"></td>
					<td rowspan="2"></td>
					<td style="width: 400px;"></td>
					<td rowspan="2"></td>
				</Tr>
				<Tr>
					<td style="width: 400px;" </td>
				</Tr>
			</table>
			<div class="label">保卖车<span class="label">限时出售 |性价比高</span></div>
			<table align="center" cellspacing="20px">
				<Tr>
					<td rowspan="2"></td>
					<td rowspan="2"></td>
					<td style="width: 400px;"></td>
					<td rowspan="2"></td>
				</Tr>
				<Tr>
					<td style="width: 400px;" </td>
				</Tr>
			</table>

		</div>
		<div id="bottom">

		</div>
	</body>

</html>